{
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "printWidth": 100,
    "tabWidth": 2,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": true,
    "trailingComma": "es5"
}